:80 {
	root * /usr/share/caddy

	@envConfig path_regexp envConfig ^(.*/)?env-config\.js$
	header @envConfig Cache-Control "no-store"

	handle_path /v0/* {
		reverse_proxy http://openebs-api-rest:8081
	}

	try_files {path} /index.html
	file_server
}
